In [19]:
#for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
sum=0
for i in range(1,11):
    sum=sum+i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [28]:
#product all elements in the list
def product(list):
    num=1
    for i in list:
        num=num*i
    return num
list1=[2,3,7]
list2=[4,8,2]
print(product(list1))
print(product(list2))

42
64

In [44]:
#factorial
n=int(input("enter the num:"))
fact=1
for i in range (1,n+1):
    fact=fact*i
    print(fact)

enter the num:5
1
2
6
24
120

In [47]:
#iterate through the characters
string ="python"
for i in range(0,len(string)):
    print(string[i])

p
y
t
h
o
n

In [58]:
#fibonacci
n =10
a =0
b =1
c =0
count=1
while count<=n:
    print(c,end=" ")
    count+=1
    a,b=b,c
    c =a+b
print()

0 1 1 2 3 5 8 13 21 34

In [59]:
#Multiplication table
num = 5
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [66]:
# gcd of two numbers
def gcd(a,b):
    if a>b:
        flag=b
    else:
        flag=a
    for i in range(1,flag+1):
        if((a % i == 0) and (b % i == 0)):
            gcd = i 
    return gcd
x=45
y=15
print(gcd(x,y))

15

In [75]:
#odd num
a= int(input("enter the Value : "))
sum= 0

for i in range(1,a+1):
    if(i % 2 != 0):
        print(i)
        sum=sum+i
print("sum is",sum)

enter the Value : 12
1
3
5
7
9
11
sum is 36

In [78]:
#even number
a= int(input(" Please Enter the Maximum Value : "))
for i in range(1,a+1):
    if(i % 2 == 0):
        print(i)

 Please Enter the Maximum Value : 20
2
4
6
8
10
12
14
16
18
20

In [2]:
#remove duplicate elements
def duplicate(num):
    list1= []
    for i in num:
        if i not in list1:
            list1.append(i)
    return list1
num= [3,5,6,4,8,3,5,6]
print(duplicate(num))

[3, 5, 6, 4, 8]

In [3]:
# Leap year 
year = int(input("Enter a year: "))

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("leap year")
        else:
            print("not a leap year")
    else:
        print("leap year")
else:
    print("not a leap year")

Enter a year: 1992
leap year

In [4]:
#lcm
a= 12
b = 14
for i in range(1, max(a,b)):
    if a % i == b % i == 0:
        hcf = i
lcm = (a*b)//hcf

print(lcm)

84

In [5]:
#palindrome
n=12321
temp = n
rev= 0
while temp > 0:
    rem = temp % 10
    rev= (rev * 10) + rem
    temp = temp // 10
if n == rev:
  print('Palindrome')
else:
  print("Not Palindrome")

Palindrome

In [6]:
#large number
a = [18, 52, 23, 41, 32]
large=a[0]
for i in a:
    if i > large:
        large = i

print(large)

52